* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/neonfogbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Merriweather Sans', sans-serif;
}

.conteiner {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(10px);
    width: 600px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 5px;
}

#input-task {
    transition: all 1s;
    background-color: rgb(221, 214, 214);
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#input-task.placeholder {
    transition: all 1s;
    animation-iteration-count: 1;
    animation-name: inputvazio;
    animation-duration: 1s;
    animation-fill-mode: both;
    background-color: rgb(221, 214, 214);
}

@keyframes inputvazio {

    0% {
        rotate: 0deg;
    }

    10% {
        rotate: 0.4deg;
        background-color: rgb(240, 165, 165);
    }

    20% {
        background-color: rgb(221, 214, 214);
        rotate: 0deg;
    }

    30% {
        background-color: rgb(240, 165, 165);
        rotate: -0.4deg;

    }


    40% {
        rotate: 0deg;
    }
}

#addtask {
    width: 38%;
    float: right;
    background-color: rgb(221, 214, 214);
    font-weight: 500;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

#addtask:hover {
    transition: .5s;
}

#list-task {
    list-style: none;
}

.list__task {
    box-sizing: border-box;
    background-color: rgb(221, 214, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    transition: all 1s;
}

.icons__editarExcluir {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

.width {
    width: 12px;
}

.decorationConcluido {
    color: white;
}


img {
    width: 22px;
    transition: opacity .5s;
}

p {
    word-wrap: break-word;
    width: 75%;
    padding: 10px;
}

input {
    background: none;
    width: 70%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.668);
}



.list__task:hover img {
    cursor: pointer;
}